html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px; 
    text-align: center;
} 

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav ul li a {
    color: #333;
    text-decoration: none; 
}

a.bordo{
    background-color: #5de9eb;
    border: 2px solid rgb(153, 0, 255);
    border-radius: 12px;
    padding: 5px;
}

main {
    flex: 1;
    display: flex;
    padding: 20px;
    align-items: flex-start;
}
section {
    font-size: 20px;
    flex: 3; 
    margin-right: 30px;
}


aside {
    
    flex: 2; 
    background-color: #f4f4f4;
    padding: 10px;
    align-self: stretch; 
    max-height: none; 
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 8px;
}

aside img {
    display: block;
    border-radius: 0px;
    object-fit: cover;
    width: 100%; 
    height: 100%; 
}


footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

section {
    font-size: 20px;
    flex: 3;
    margin-right: 30px;


}

h2.iniziale {
    font-size: 30px;
    margin-bottom: 20px;
}